.block {
  display: flex;
}

.content {
  padding-top: 4px;
  overflow: hidden;
}

.block p {
  margin: 0;
  margin-bottom: 10px;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.border {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.border span {
  display: none;
}

.line {
  margin-top: 10px;
  width: 3px;
  height: calc(100% - 75px);
  background-color: var(--greyD9);
}
