.menu {
  position: absolute;
  top: 17px;
  right: 15px;
  padding: 0;
}

.menuButton {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;
}

.menuButton:active {
  background-color: rgba(51, 51, 51, 0.1);
}

.listContainer {
  position: absolute;
  right: 0;
  top: 10px;
  width: 140px;
  padding-top: 5px;
  z-index: 100;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px #00000026;
}

.item button {
  display: flex;
  margin: 0 20px;
  padding: 10px 0;
  width: calc( 100% - 40px);
  border-bottom: 1px solid var(--greyEC);
  color: var(--grey99);
  fill: var(--grey99);
  transition: color, fill 0.3s ease-in-out;
}

.item:last-child button {
  display: inline-block;
  margin: 0;
  width: 100%;
  text-align: center;
  border-radius: 0 0 5px 5px;
  background: var(--greyD9);
}

.mobile-hide {
  display: none;
}

.item:nth-last-child(-n+2) button {
  border: none;
}

.item button svg {
  margin-right: 5px;
  fill: inherit;
}

@media all and (min-width: 1024px) {
  .menu {
    position: relative;
    order: 2;
    display: flex;
    align-items: center;
    flex: 0 0;
    top: unset;
    right: unset;
    margin: 0 0 0 auto;
  }

  .menuButton {
    align-self: center;
    transform: unset;
  }

  .listContainer {
    left: 50%;
    top: 19px;
    width: 157px;
    transform: translateX(-50%);
  }

  .mobile-hide {
    display: flex;
  }
}

@media all and (min-width: 1540px) {
  .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }

  .item:last-child {
    display: none;
  }

  .item button:hover {
    color: var(--orange);
    fill: var(--orange);
  }
}
